{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.grade_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.grade_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.grade_id'|trans, 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.grade_name'|trans, 'u.grade') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for grade in pagination %}
                <tr>
                    <td>{{ grade.id }}</td>
                    <td>{{ grade.grade}}</td>
                    <td>
                        <a href="{{ url('grade_view', {id: grade.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}