{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.grade_view'|trans({'%id%': grade.id}) }}
{% endblock %}

{% block body %}
    <h3 class="list-h mt-5 mb-4">{{ 'title.grade_view'|trans({'%id%': grade.id}) }} {{ grade.id }} {% if null != app.user %}
            {% if grade.user.id == app.user.id or grade.user.id == app.user.id or is_granted('ROLE_ADMIN') %}
                <a class="inline-action" href="{{ url('grade_delete', {id: grade.id }) }}"><i class="material-icons ml-5">delete_forever</i></a>
            {% endif %}
        {% endif %}</h3>
    {% if grade is defined and grade|length %}

    <p class="list-h">{{ 'label.grade_author'|trans }}{{ grade.user.firstName }}</p>
    <p class="list-h">{{ 'label.grade_grade'|trans }}{{ grade.grade }}</p>

    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}