{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.discussion_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.discussion_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.discussion_id'|trans, 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.discussion_name'|trans, 'u.name') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for discussion in pagination %}
                <tr>
                    <td>{{ discussion.id }}</td>
                    <td>{{ discussion.name}}</td>
                    <td>
                        <a href="{{ url('discussion_view', {id: discussion.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}