{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.discussion_list'|trans({'%id%': discussion.id}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.discussion_list'|trans({'%id%': discussion.id}) }}</h1>
    {% if discussion is defined and discussion|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.discussion_id'|trans }}</dt>
            <dd>{{ discussion.id }}</dd>
            <dt>{{ 'label.discussion_name'|trans }}</dt>
            <dd>{{  discussion.name }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
    <div class = "discussion-posts">
        {% if discussion.posts|length %}
            <h3>{{ 'label.posts'|trans }} ({{ discussion.posts|length }})</h3>
            {% for post in discussion.posts %}
                <div class="post-container" id="post-{{ post.id }}">
                    <div class="post">
                        <div>
                            <b class="post-user">{{ post.user.firstName }}</b><span class="post-text">{{ post.content}}</span>
                        </div>
                        <div>
                            <span class="date">{{ post.createdAt|date()|localizeddate('short', 'short') }}
                                {% if post.createdAt != post.updatedAt %} ({{ 'label.post_edited'|trans }})
                                {% endif %}</span>
                            {% if null != app.user %}
                                {% if post.user.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                    <a class="inline-action" href="{{ url('post_edit', {id: post.id }) }}">{{ 'action.edit'|trans }}</a>
                                {% endif %}
                                {% if post.user.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                    <a class="inline-action" href="{{ url('post_delete', {id: post.id }) }}">{{ 'action.delete'|trans }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>{{ 'label.no_posts'|trans }}</h3>
        {% endif %}
    </div>
    <div class="post-post-form">
        {{ form_start(discussion.form, { method: 'post', action: url('discussion_new_post', {'id': discussion.id}) }) }}
        {% if false == discussion.form.vars.valid %}
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'danger',
                message: 'message.form_error'|trans,
            }%}
        {% endif %}
        {{ form_widget(discussion.form) }}
        <div class="form-group row float-sm-right">
            <button type="submit" title="{{ 'action.new_post'|trans }}" class="btn btn-primary">
                {{ 'button.submit_post'|trans }}
            </button>
        </div>
        {{ form_end(discussion.form) }}
    </div>
{% endblock %}