{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
    {% if pagination is defined and pagination|length %}

        <div class="container-fluid">
            <h3 class="list-h mt-5">{{  'title.category_list'|trans }}</h3>
            <div class="d-flex justify-content-center mt-5">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'label.table_id'|trans, 'u.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.category_name'|trans, 'u.name') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.item_action'|trans, 'u.date') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in pagination %}
                        <tr>
                            <th scope="row">{{ category.id }}</th>
                            <td>{{ category.name }}</td>
                            <td><a href="{{ url('category_view', {id: category.id}) }}">{{ 'label.go_to_category'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <h3 class="list-h mt-5">{{  'title.category_list'|trans }}</h3>
        <div class="list-h mt-4">
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        </div>
    {% endif %}

{% endblock %}