{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_view'|trans({'%id%': category.id}) }}
{% endblock %}

{% block body %}
    <h3 class="list-h mt-5 mb-4">{{ 'title.category_view'|trans({'%id%': category.id}) }} {{ category.id }} {% if null != app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="inline-action" href="{{ url('category_delete', {id: category.id }) }}"><i class="material-icons ml-5">delete_forever</i></a>
            {% endif %}
        {% endif %}</h3>
    {% if category is defined and category|length %}

        <p class="list-h">{{ 'label.category_category'|trans }}{{ category.name }}</p>

    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}