{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.event_list'|trans({'%id%': event.id}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.event_list'|trans({'%id%': event.id}) }}</h1>
    {% if event is defined and event|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.event_name'|trans }}</dt>
            <dd>{{  event.name }}</dd>
            <dt>{{ 'label.event_date'|trans }}</dt>
            <dd>{{  event.eventDate|date("m/d/Y") }}</dd>
            <dt>{{ 'label.event_price'|trans }}</dt>
            <dd>{{  event.price }}</dd>
            <dt>{{ 'label.event_place'|trans }}</dt>
            <dd>{{  event.place }}</dd>
            <dt>{{ 'label.event_size'|trans }}</dt>
            <dd>{{  event.Eventsize }}</dd>
        </dl>
        <a href = "{{ url('event_edit', {id: event.id}) }}" title = "{{ 'label.event_edit'|trans }}" {% if app.request.attributes.get('_route') == 'security_login' %} class="active" {% endif %}>
            <h3>{{ 'label.event_edit'|trans }}</h3>
        </a>
        <a href = "{{ url('event_delete', {id: event.id}) }}" title = "{{ 'label.event_delete'|trans }}" {% if app.request.attributes.get('_route') == 'security_login' %} class="active" {% endif %}>
            <h3>{{ 'label.event_delete'|trans }}</h3>
        </a>
        {% if photo is defined and photo|length %}
            <a href = "{{ url('photo_edit', {id: photo.id}) }}" title = "{{ 'label.photo_edit'|trans }}" {% if app.request.attributes.get('_route') == 'security_login' %} class="active" {% endif %}>
                <h3>{{ 'label.photo_edit'|trans }}</h3>
            </a>
            <a href = "{{ url('photo_delete', {id: photo.id}) }}" title = "{{ 'label.photo_delete'|trans }}" {% if app.request.attributes.get('_route') == 'security_login' %} class="active" {% endif %}>
                <h3>{{ 'label.photo_delete'|trans }}</h3>
            </a>
        {% else %}
            <a href = "{{ url('event_new_photo', {id: event.id}) }}" title = "{{ 'label.event_new_photo'|trans }}" {% if app.request.attributes.get('_route') == 'security_login' %} class="active" {% endif %}>
                <h3>{{ 'label.event_new_photo'|trans }}</h3>
            </a>
        {% endif %}
        {% if photo is defined and photo|length %}
            <div>
                <a href="{{ url('photo_view', {id: photo.id}) }}">
                    <img src="{{ asset('uploads/photos/'~ photo.file.filename) }}">
                </a>
            </div>
        {% endif %}
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
    <div class="event-interest">
        {% for interest in event.interests %}
            {% if null != app.user and interest.user.id == app.user.id%}
                {% set favourite = 1 %}
            {% endif %}
        {% endfor %}
        <a class="interest" href="{{ url('event_interest', {id: event.id}) }}" title ="{{ 'action.interest'|trans }}">
            {{ 'label.event_interest'|trans }}
        </a>
    </div>
    <div class="post-grade-form">
    {% set flag = 0 %}
    {% if event.grades is defined and event.grades|length%}
        {% for grade in event.grades %}
            {% if null != app.user and grade.user.id == app.user.id%}
                {% set flag = flag + 1 %}
                {{ grade.grade }}
                {{ form_start(event.form_grade, { method: 'post', action: url('grade_edit', {'id': grade.id}) }) }}
                {% if false == event.form_grade.vars.valid %}
                    {% include 'default/_single_flash_message.html.twig' with {
                        type: 'danger',
                        message: 'message.form_error'|trans,
                    }%}
                {% endif %}
                {{ form_widget(event.form_grade) }}
                <div class="form-group row float-sm-right">
                    <button type="submit" title="{{ 'action.update_grade'|trans }}" class="btn btn-primary">
                        {{ 'button.update_grade'|trans }}
                    </button>
                </div>
                {{ form_end(event.form_grade) }}
            {% else %}
                {% if flag == 0 %}
                    {% set flag = flag + 1 %}
                    {{ form_start(event.form_grade, { method: 'post', action: url('event_new_grade', {'id': event.id}) }) }}
                    {{ form_widget(event.form_grade) }}
                    <div class="form-group row float-sm-right">
                        <button type="submit" title="{{ 'action.new_grade'|trans }}" class="btn btn-primary">
                            {{ 'button.new_grade'|trans }}
                        </button>
                    </div>
                    {{ form_end(event.form_grade) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    <div class = "event-comments">
        {% if event.comments|length %}
            <h3>{{ 'label.comments'|trans }} ({{ event.comments|length }})</h3>
            {% for comment in event.comments %}
                <div class="comment-container" id="comment-{{ comment.id }}">
                    <div class="comment">
                        <div>
                            <b class="comment-owner">{{ comment.owner.firstName }}</b><span class="comment-text">{{ comment.content}}</span>
                        </div>
                        <div>
                            <span class="date">{{ comment.createdAt|date()|localizeddate('short', 'short') }}
                                {% if comment.createdAt != comment.updatedAt %} ({{ 'label.comment_edited'|trans }})
                                {% endif %}</span>
                            {% if null != app.user %}
                                {% if comment.owner.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                    <a class="inline-action" href="{{ url('comment_edit', {id: comment.id }) }}">{{ 'action.edit'|trans }}</a>
                                {% endif %}
                                {% if comment.event.user.id == app.user.id or comment.owner.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                    <a class="inline-action" href="{{ url('comment_delete', {id: comment.id }) }}">{{ 'action.delete'|trans }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
             {% endfor %}
        {% else %}
            <h3>{{ 'label.no_comments'|trans }}</h3>
        {% endif %}
    </div>
    <div class="post-comment-form">
        {{ form_start(event.form, { method: 'post', action: url('event_new_comment', {'id': event.id}) }) }}
        {% if false == event.form.vars.valid %}
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'danger',
                message: 'message.form_error'|trans,
            }%}
        {% endif %}
        {{ form_widget(event.form) }}
        <div class="form-group row float-sm-right">
            <button type="submit" title="{{ 'action.new_comment'|trans }}" class="btn btn-primary">
                {{ 'button.submit_comment'|trans }}
            </button>
        </div>
        {{ form_end(event.form) }}
    </div>

{% endblock %}

