{% extends 'base.html.twig' %}
{% block body %}
    <div class="container container-bg">
        <div class="container container-sm">
            <article class="description">
                <h3 class="h2-bold">{{ 'description.title'|trans }}</h3>
                <p class="desc-bg">{{ 'description.description'|trans }}</p>
            </article>
            <form class="form-search" method="post" class="search" action="{{ url('search_index')}}">
                <div class="row">
                    <div class="column column-50 column-offset-25">
                        <input autocomplete="off" id="search" name="search" placeholder="{{ 'label.search_placeholder'|trans }}" type="text" required="required"/>
                        <button type = "submit">{{ 'action.search'|trans}}</button>
                    </div>
                </div>
            </form>
          </div>
    </div>
{% endblock %}