{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.search_results'|trans }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h3 class="list-h mt-5"><i class="material-icons mr-3">search</i>{{  'title.search_results'|trans }}</h3>
        {% if not ((events_names is defined and events_names|length) or (events_start_dates is defined and events_start_dates|length) or
            (events_sizes is defined and events_sizes|length) or (events_prices is defined and events_prices|length) or
            (category is defined and category|length) or (groups is defined and groups|length) or
            (events_end_dates is defined and events_end_dates|length) or (places is defined and places|length)) %}
            <div class="list-h div_list mt-4">{{ 'label.no_results'|trans }}</div>
        {% endif %}
        {% if (events_names is defined and events_names|length) or (events_start_dates is defined and events_start_dates|length)
            or (events_end_dates is defined and events_end_dates|length) or (events_prices is defined and events_prices|length)
            or (events_sizes is defined and events_sizes|length) or (places is defined and places|length)%}
            <h3 class="list-h h_list mt-4"><i class="material-icons mr-2">event</i>{{  'title.search_event_results'|trans }}</h3>
        {% endif %}
        {% if events_names is defined and events_names|length %}
            <h3 class="list-h h_list mt-4">{{  'label.event_by_name'|trans }}</h3>
                <table class="event h_list mt-4 table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'label.group_id'|trans }}</th>
                        <th>{{ 'label.event_name'|trans }}</th>
                        <th>{{ 'label.group_action_search'|trans}}</th>
                    </tr>
                    </thead>
                    {% for event_name in events_names %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ event_name.id }}</th>
                            <td>{{ event_name.name}}</td>
                            <td><a href="{{ url('event_view', {'id': event_name.id}) }}" title="{{ 'action.view'|trans }}">{{  'label.go_to_event'|trans }}</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
        {% endif %}
        {% if events_start_dates is defined and events_start_dates|length %}
            <h3 class="list-h h_list mt-4">{{  'label.event_by_sdate'|trans }}</h3>
            <table class="event h_list mt-4 table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'label.group_id'|trans }}</th>
                        <th>{{ 'label.event_name'|trans }}</th>
                        <th>{{ 'label.group_action_search'|trans}}</th>
                    </tr>
                </thead>
            {% for event_date in events_start_dates %}
                <tbody>
                    <tr>
                        <th scope="row">{{ event_date.id }}</th>
                        <td>{{ event_date.name}}</td>
                        <td><a href="{{ url('event_view', {'id': event_date.id}) }}" title="{{ 'action.view'|trans }}">{{  'label.go_to_event'|trans }}</a></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
        {% if events_end_dates is defined and events_end_dates|length %}
            <h3 class="list-h h_list mt-4">{{  'label.event_by_edate'|trans }}</h3>
            <table class="event h_list mt-4 table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'label.group_id'|trans }}</th>
                        <th>{{ 'label.event_name'|trans }}</th>
                        <th>{{ 'label.group_action_search'|trans}}</th>
                    </tr>
                </thead>
            {% for event_date in events_end_dates %}
                <tbody>
                <tr>
                    <th scope="row">{{ event_date.id }}</th>
                    <td>{{ event_date.name}}</td>
                    <td><a href="{{ url('event_view', {'id': event_date.id}) }}" title="{{ 'action.view'|trans }}">{{  'label.go_to_event'|trans }}</a></td>
                </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
        {% if events_prices is defined and events_prices|length %}
            <h3 class="list-h h_list mt-4">{{  'label.event_by_price'|trans }}</h3>
            <table class="event h_list mt-4 table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'label.group_id'|trans }}</th>
                    <th>{{ 'label.event_name'|trans }}</th>
                    <th>{{ 'label.group_action_search'|trans}}</th>
                </tr>
                </thead>
            {% for event_price in events_prices %}
                <tbody>
                <tr>
                    <th scope="row">{{ event_price.id }}</th>
                    <td>{{ event_price.name}}</td>
                    <td><a href="{{ url('event_view', {'id': event_price.id}) }}" title="{{ 'action.view'|trans }}">{{  'label.go_to_event'|trans }}</a></td>
                </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
        {% if events_sizes is defined and events_sizes|length %}
            <h3 class="list-h h_list mt-4">{{  'label.event_by_size'|trans }}</h3>
            <table class="event h_list mt-4 table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'label.group_id'|trans }}</th>
                    <th>{{ 'label.event_name'|trans }}</th>
                    <th>{{ 'label.group_action_search'|trans}}</th>
                </tr>
                </thead>
            {% for event_size in events_sizes %}
                <tbody>
                <tr>
                    <th scope="row">{{ event_size.id }}</th>
                    <td>{{ event_size.name}}</td>
                    <td><a href="{{ url('event_view', {'id': event_size.id}) }}" title="{{ 'action.view'|trans }}">{{  'label.go_to_event'|trans }}</a></td>
                </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
        {% if places is defined and places|length %}
            <h3 class="list-h h_list mt-4">{{  'label.event_by_place'|trans }}</h3>
            <table class="event h_list mt-4 table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'label.group_id'|trans }}</th>
                    <th>{{ 'label.event_name'|trans }}</th>
                    <th>{{ 'label.group_action_search'|trans}}</th>
                </tr>
                </thead>
            {% for place in places %}
                <tbody>
                    <tr>
                        <th scope="row">{{ place.id }}</th>
                        <td>{{ place.name}}</td>
                        <td><a href="{{ url('event_view', {'id': place.id}) }}" title="{{ 'action.view'|trans }}">{{  'label.go_to_event'|trans }}</a></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        {% endif %}
        {% if users is defined and users|length %}
            <h3 class="list-h h_list mt-4">{{  'title.search_users_results'|trans }}</h3>
            <table class="event h_list mt-4 table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ 'label.group_id'|trans }}</th>
                    <th>{{ 'label.user_name'|trans }}</th>
                    <th>{{ 'label.group_action_search'|trans}}</th>
                </tr>
                </thead>
                {% for user in users %}
                    <tbody>
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.name}}</td>
                            <td><a href="{{ url('user_view', {'id': user.id}) }}" title="{{ 'action.view'|trans }}">{{ 'label.go_to_profile'|trans }}</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
            {% if category is defined and category|length %}
                <h3 class="list-h h_list mt-5"><i class="material-icons mr-2">category</i>{{  'title.search_categories_results'|trans }}</h3>
                <table class="event h_list mt-4 table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'label.group_id'|trans }}</th>
                        <th>{{ 'label.category_name'|trans }}</th>
                    </tr>
                    </thead>
                    {% for category_one in category %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ category_one.id }}</th>
                            <td>{{ category_one.name}}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
            {% if groups is defined and groups|length %}
                <h3 class="list-h h_list mt-5"><i class="material-icons mr-2">group</i>{{  'title.search_groups_results'|trans }}</h3>
                <table class="event h_list mt-4 table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'label.group_id'|trans }}</th>
                        <th>{{ 'label.group_name'|trans }}</th>
                        <th>{{ 'label.group_action_search'|trans}}</th>
                    </tr>
                    </thead>
                    {% for group in groups %}
                        <tbody>
                            <tr>
                                <th scope="row">{{ group.id }}</th>
                                <td>{{ group.name}}</td>
                                <td><a href="{{ url('event_view', {'id': group.id}) }}" title="{{ 'action.view'|trans }}">{{ 'label.go_to_group'|trans }}</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
            </div>
    </div>

{% endblock %}