{% extends 'base.html.twig' %}
{% block title %}
    {{ 'title.user_view'|trans }}
{% endblock %}
{% block body %}
<div class="container">
{% if user is defined and user|length %}
    <div class="jumbotron">
        <div class="row mt-2">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <div class="col-sm-10">
                    {% if app.user.profilePhoto.file is defined and app.user.profilePhoto.file|length %}
                        <img class="avatar img-circle img-thumbnail img-fluid" alt="avatar" src="{{ asset('uploads/photos/'~ app.user.profilePhoto.file.filename) }}">
                    {% else %}
                        <img src="{{ asset('files/photo-profile.png') }}" class="avatar img-circle img-thumbnail img-fluid" alt="avatar">
                    {% endif %}
                </div>
                <div class="col-sm-10 mt-4 text-center">
                    <h2>{{  user.Firstname }}</h2>
                    <p class="mb-4 text-center">{{  user.email }}</p>
                </div>
                <div class="list-group">
                    <ul class="details col-sm-10 mt-2">
                        {% if app.user.profilePhoto.file is defined and app.user.profilePhoto.file|length %}
                            <li class="list-group-item"><a href="{{ url('profile_photo_edit', {id: user.id}) }}"><i class="material-icons md-18 mr-lg-1">camera_alt</i> {{ 'label.user_update_photo'|trans }}</a></li>
                        {% else %}
                            <li class="list-group-item"><a href="{{ url('new_profile_photo', {id: user.id}) }}"><i class="material-icons md-18 mr-lg-1">add_a_photo</i> {{ 'label.user_add_photo'|trans }}</a></li>
                        {% endif %}
                        <li class="list-group-item"><a href="{{ url('user_edit', {id: user.id}) }}"><i class="material-icons md-18 mr-lg-1">edit</i> {{ 'label.user_edit'|trans }}</a></li>
                        <li class="list-group-item"><a href="{{ url('user_change_pswd', {id: user.id}) }}"><i class="material-icons md-18 mr-lg-1">lock</i> {{ 'label.user_change_pswd'|trans }}</a></li>
                        <li class="list-group-item"><a href="{{ url('user_delete', {id: user.id}) }}"><i class="material-icons md-18 mr-lg-1">delete_forever</i> {{ 'label.user_delete'|trans }}</a></li>
                        <li class="list-group-item"><a href="{{ url('event_new') }}"><i class="material-icons md-18 mr-lg-1">library_add</i> {{ 'label.event_new'|trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="my-profile col-md-8 col-xs-12 col-sm-6 col-lg-8 mb-5">
                <h3><i class="material-icons br-lg-1 mb-4">star</i> {{  'label.user_interested'|trans }}</h3>
                {% if user.interests is defined and user.interests|length %}
                    {% for interest in user.interests|slice(0,2) %}
                        <a href="{{ url('event_view', {id: interest.event.id}) }}">
                            <div class="post-slide mb-4">
                                <div class="post-img">
                                        <img src="http://bestjquery.com/tutorial/news-slider/demo19/images/img-1.jpg" alt="">
                                        <div class="post-date">
                                            <span class="date">{{ interest.event.eventDate|date("d") }}</span>
                                            <span class="month">{{ interest.event.eventDate|date("m/Y") }}</span>
                                        </div>
                                </div>
                                <h3 class="post-title">{{ interest.event.name }}</h3>
                                <h4 class="post-title-small mb-3"><i class="material-icons md-18">room</i> {{ interest.event.place }}</h4>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="post-more mt-1 mb-3 text-right"><a href="{{ url('user_interested', {id: app.user.id}) }}">see more >></a></div>
                {% endif %}
                <h3><i class="material-icons br-lg-1 mb-4">event</i> {{  'label.user_events'|trans }}</h3>
                {% if user.events is defined and user.events|length %}
                    {% for event in user.events| slice(0,2)%}
                        <a href="{{ url('event_view', {id: event.id}) }}">
                            <div class="post-slide mb-4">
                                <div class="post-img">
                                    <img src="http://bestjquery.com/tutorial/news-slider/demo19/images/img-1.jpg" alt="">
                                    <div class="post-date">
                                        <span class="date">{{ event.eventDate|date("d") }}</span>
                                        <span class="month">{{ event.eventDate|date("m/Y") }}</span>
                                    </div>
                                </div>
                                <h3 class="post-title">{{ event.name }}</h3>
                                <h4 class="post-title-small"><i class="material-icons md-18">room</i> {{ event.place }}</h4>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="post-more mt-1 mb-3 text-right"><a href="{{ url('user_events', {id: app.user.id}) }}">see more >></a></div>
                {% endif %}
                <h3><i class="material-icons br-lg-1 mb-4">group</i> {{  'label.user_groups'|trans }}</h3>
                {% if user.members is defined and user.members|length %}
                    <table class="table">
                        <tbody>
                            {% for member in user.members|slice(0,2) %}
                                <tr>
                                    <th scope="row">{{ member.community.id }}</th>
                                    <td>{{ member.community.name }}</td>
                                    <td><a href="{{ url('group_view', {id: member.community.id}) }}">{{ 'label.go_to_group'|trans }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="post-more mt-1 mb-3 text-right"><a href="{{ url('user_groups', {id: app.user.id}) }}">see more >></a></div>
                {% endif %}
            </div>
        </div>
        {% else %}
            <p>
                {{ 'message.item_not_found'|trans }}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}