{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans({'%id%': user.id}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_list'|trans({'%id%': user.id}) }}</h1>
    {% if user is defined and user|length %}
        {% if app.user.profilePhoto.file is defined and app.user.profilePhoto.file|length %}
            <img class="nav-profile-img" src="{{ asset('uploads/photos/'~ app.user.profilePhoto.file.filename) }}">
        {% endif %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ user.createdAt|localizeddate }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ user.updatedAt|localizeddate }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
            <dt>{{ 'label.Firstname'|trans }}</dt>
            <dd>{{  user.Firstname }}</dd>
        </dl>
        {% if user.interests is defined and user.interests|length %}
            {% for interest in user.interests %}
                <div>
                    <a href="{{ url('event_view', {id: interest.event.id}) }}">
                        {{ interest.event.name }}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        {% if user.members is defined and user.members|length %}
            {% for member in user.members %}
                <div>
                    <a href="{{ url('group_view', {id: interest.group.id}) }}">
                        {{ interest.group.name }}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}