<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    <main class="wrapper">
        <div class="container">
            {% include 'default/_flash_messages.html.twig' %}
            <header class="header">
                <section class="container clearfix">
                    <a class="logo logo-title float-left">
                        {{ 'title.logo'|trans}}
                    </a>
                    <nav class="navigation">
                        <ul class="navigation-list float-right">
                            <li class="navigation-item">
                                <a class ="navigation-link" href = "{{ url('event_index') }}" title = "{{ 'label.events_page'|trans }}" {% if app.request.attributes.get('_route') == 'event_index' %} class="active" {% endif %}>
                                    {{ 'label.event_index'|trans }}
                                </a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav_element">
                                    <a class ="navigation-link" href = "{{ url('user_index') }}" title = "{{ 'label.user_index'|trans }}" {% if app.request.attributes.get('_route') == 'user_index' %} class="active" {% endif %}>
                                        {{ 'label.user_index'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav_element">
                                    <a class ="navigation-link" href = "{{ url('comment_index') }}" title = "{{ 'label.comment_index'|trans }}" {% if app.request.attributes.get('_route') == 'comment_index' %} class="active" {% endif %}>
                                        {{ 'label.comment_index'|trans }}
                                    </a>
                                </li>
                                <li class="nav_element">
                                    <a class ="navigation-link" href = "{{ url('grade_index') }}" title = "{{ 'label.grade_index'|trans }}" {% if app.request.attributes.get('_route') == 'grade_index' %} class="active" {% endif %}>
                                        {{ 'label.grade_index'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="navigation-item">
                                <a class ="navigation-link" href = "{{ url('user_new') }}" title = "{{ 'label.registration'|trans }}" {% if app.request.attributes.get('_route') == 'user_new' %} class="active" {% endif %}>
                                    {{ 'label.registration'|trans }}
                                </a>
                            </li>
                            <li class="navigation-item">
                                <a class ="navigation-link" href = "{{ url('security_login') }}" title = "{{ 'label.login_page'|trans }}" {% if app.request.attributes.get('_route') == 'security_login' %} class="active" {% endif %}>
                                    {{ 'label.login_page'|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </header>
        </div>
    </main>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>